*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	font-size: 18px;
	color:  hsl(229, 23%, 23%);
}

.main{
	background: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
	background-color: hsl(185, 75%, 39%);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card{
	background: #FFFFFF;
	text-align: center;
	width: 350px;
	height: 374px;
	border-radius: 15px;
	overflow: hidden;
}

.upper-card{
	height: 140px;
	width: 350px;
	background: url(images/bg-pattern-card.svg);
	background-size: cover;
}

.avatar{
	width: 96px;
	height: 96px;
	border-radius: 50%;
	overflow: hidden;
	margin: -50px auto -30px auto;
	border: 5px solid #FFFFFF;
}

.avatar-sec img{
	display: block;
	height: auto;
	width: 100%;
}

.card-main{
	margin-top: 54px;
	margin-bottom: -75px;
	height: 250px;
	line-height: 1.8rem;
}

.name{
	font-family: Kumbh Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color:  #2E3349;
}

.age{
	font-family: Kumbh Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 18px;
	letter-spacing: 0px;
	text-align: center;
	color: 6B7082;
}

.city{
	font-family: Kumbh Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 18.11px;
	letter-spacing: 0px;
	text-align: center;
	color: #6B7082;
	position: relative;
	top:  10px;
}

.social-container{
	width: 350px;
	height: 40px;
	left: 47px;
	top: 310px;
	padding-top: 24px;
	padding-right: 54px;
	border-top: 1px solid hsl(0, 10%, 88%);
	padding-left: 47px;
	margin-top: 23px;
	display:  flex;
	align-items: center;
	justify-content: center;
}

.social{
	font-family: Kumbh Sans;
	font-weight: 400;
	font-size: 10px;
	position: relative;
	top: 10px;
	right: 30px;
	justify-content: center;
}


